//Colors
$primary: #111727;
$secondary: #f9fbfc;
$white: #ffffff;
$black: #000000;
$gray: #808080;
$gray2: #d9d9d9;
$gray3: #989898;

//Typography
$titleFontFamily: 'Syne',
sans-serif;
$fontFamily: 'Manrope',
sans-serif;

//Container
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;